{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
   <h2>Portfolio</h2>
   <table class="table table-bordered table-striped">
      <thade class="thead-light">
         <tr>
            <th>symbol</th>
            <th>name</th>
            <th>shares</th>
            <th>price</th>
            <th>total value</th>
         </tr>

      </thade>
      <tbody>
         {% for stock in stocks %}

           <tr>
              <td>{{ stock.symbol}}</td>
              <td>{{ stock.name }}</td>
              <td>{{ stock.total_shares }}</td>
              <td>{{ stock.price }}</td>
              <td>{{ stock.price * stock.total_shares }}</td>
           </tr>

         {% endfor %}
         <tr>
            <td colspan="4" align="right">cash</td>
            <td>{{ cash }}</td>
         </tr>
         <tr>
            <td colspan="4" align="right">total_value</td>
            <td>{{ total_value }}</td>
         </tr>

      </tbody>

    </table>

{% endblock %}
